<html>
<head>
	<title>RedisUI</title>
	<link rel="stylesheet" href="/stylesheets/redis-ui.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<h1>RedisUI</h1>
	<div id="main"></div>
	<%= yield %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
	<script src="/js/lib/underscore.js"></script>
	<script src="/js/lib/backbone.js"></script>
	
	<script src="/js/app/app.js"></script>
	<script src="/js/app/models.js"></script>
	
	<script type="text/javascript">
	 	RUI.view.app = new RUI.view.main({el : '#main'})
		RUI.data.keys.fetch();
	</script>
</body>
</html>