<html>
  <head>
    <title>RedisUI</title>
    <link rel="stylesheet" href="/stylesheets/redis-ui.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/css/jquery.dataTables.css" type="text/css" media="screen" charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/jquery.dataTables.min.js"></script>
    <script src="/js/lib/redis-ui.js"></script>
  </head>

  <body>
    <div id="container">
      <h1>RedisUI</h1>
      <%= yield %>
    </div>
  </body>
</html>